* {
  box-sizing: border-box;
  margin: 0 auto;
}

header {
  background-color: grey;
  color: white;
  text-align: left;
  padding: 10px;
}

footer {
  background-color: grey;
  color: white;
  text-align: center;
  padding: 10px;
}
